.verify-container{
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    justify-content: center;
    margin-top: 100px;
    transition: linear 0.6s;
    min-height: 307px;
    /* background-color: red; */

  
}
.verify-form{
    height: 40vh;
    width:40%;
}
.form-group{
    color:red
}
.form-control{
    width:100%;
}

@media screen and (max-height: 370px) {
    .verify-container {
      margin-top: 150px;
     
      /* width: 400px;
      height: 300px; */
    }
    h1{
        font-size:20px;
    }
  }